<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="FireInspection" connectionString="Data Source=dev-tambor;Initial Catalog=fire;Persist Security Info=True;User ID=FireInspection;Password=fire" providerName="System.Data.SqlClient"/>
    <!--<add name="Address" connectionString="Data Source=tambor;Initial Catalog=Address;Persist Security Info=True;User ID=FireInspection;Password=fire" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
